#app-alert.hidden-md.hidden-lg
	a(href='javascript:;').dismiss-alert.dismiss-alert-md.visible-md.visible-lg: span &times;
	.container: .row
		.col-sm-11.app-icon.col-xs-8
			a(href='javascript:;').dismiss-alert.dismiss-alert-xs.visible-xs.visible-sm: span &times;
			img(src='/images/Kickstarter_logo.png', alt='kickstarter icon', title='Kickstarter Logo', width='640px').visible-md.visible-lg
			img(src='/images/Kickstarter_logo.png', alt='kickstarter icon', title='Kickstarter Logo', width='640px').visible-xs.visible-sm
			.visible-md.visible-lg
				h5 Major new version and Kickstarter!
				p.mb-0 <strong>Drastically enhanced performance</strong> and <strong>exciting new features</strong> fueled by a <strong>Kickstarter</strong> campaign in <strong>early May</strong>. <a href="/blog/post/major-new-version-and-kickstarter" style="font-weight: 700; color: #2bde73">Read more...</a>
		//.col-sm-6.col-xs-4
		//	a(href="https://play.google.com/store/apps/details?id=com.sydjs&hl=en", target="_blank").app-button.visible-md.visible-lg
		//		img(src='/images/google-play-button.png', alt='get it on Google Play', title='get it on Google Play', height='45')
		//	a(href="https://itunes.apple.com/au/app/sydjs/id897396382?mt=8&uo=4", target="itunes_store").app-button.hidden-xs.hidden-sm
		//		img(src='/images/app-store-button.png', alt='download on the appstore', title='download on the appstore', height='45')
		//	a(href="https://play.google.com/store/apps/details?id=com.sydjs&hl=en", target="_blank").app-link.visible-xs.visible-sm.text-right Install
