#app-alert(class="hidden").hidden-md.hidden-lg
	a(href='javascript:;').close-alert.visible-md.visible-lg: span &times;
	.container: .row
		.col-sm-11.app-icon.col-xs-8
			a(href='javascript:;').close-alert.visible-xs.visible-sm: span &times;
			a(href='/blog/post/major-new-version-and-kickstarter')
				img(src='/images/Kickstarter_logo.png', alt='kickstarter icon', title='More info about future plans', width='640px').visible-md.visible-lg
				img(src='/images/Kickstarter_logo.png', alt='kickstarter icon', title='More info about future plans', width='640px').visible-xs.visible-sm
			.visible-md.visible-lg
				h5(style="color: red") We are live on Kickstarter!
				p.mb-0 <strong>Enhanced performance</strong> and <strong>exciting new features</strong>: support the future of Chronas (May 24 - June 23). 
				p.mb-0 <a href="http://www.kickstarter.com/projects/1152044848/chronas-interactive-history-map-application" target="_blank" style="font-weight: 700; color: #2bde73">Go to Chronas Kickstarter page (opens new tab)...</a>
