extends ../../layouts/default

block intro
	.page-intro: .container
		h1 Taking Action
		p.lead The final realease of Chronas will live and grow through its community
	
block content
	.page-content: .container
		h2 Why are moderators needed?
		p In the same way as other crowd sourced projects like OpenStreetMap or Wikipedia are growing through the initiative of individuals, Chronas will be dependant on volunteers who invest their time and knowledge of history into the project.
		p Members and especially moderators can keep track of their number of edits and actions in their personal member site and earn new badges by reaching milestones.
		p There will be two different types of moderators, each requiring different skills:
		hr.mv-2
		.row
			.col-sm-6: .tile
				h3 Be a Community Moderator
				p This is the more traditional form of moderatoring. As a community moderator, you:
				ul
					li approve new community threads in the Talk section and assign them to relevant categories
					li make sure that comments follow basic Netiquette rules
					li remove off-topic threads or comments
				p Interested? <a href="/join">Become a member of Chronas</a> and tick the 'Available for moderating' and 'Moderate community discussions' box in your profile.
			.col-sm-6: .tile
				h3 Be a History Moderator*
				p <i>* This form of moderating will only be available in the final stage of development, but you can already note your interest!</i>
				p As a history data moderator, you will exercise quality control of the data used in the history application and therefor:
				ul
					li edit erroneous or incomplete data by listing sources
					li add missing links to relevant Wikipedia pages
					li remove data for which there is not enough scientific evidence
				p Interested? <a href="/join">Become a member of Chronas</a> and tick the 'Available for moderating' and 'Moderate history application data' box in your profile.
		hr.mv-2
		a(href='/members/moderators').btn.btn-primary View potential moderators