extends ../../layouts/default

include ../../mixins/organiser

block intro
    .page-intro: .container
        h1 Sub Apps
        p.lead
            | Supplementary to the 
            a(href='/history', target="_blank") Chronas Main Application
            | , other Chronas history applications are collected here

block content
    .page-content
        .section.highlight: .container
            h5 We are still developing!
            p This site will be updated for every new spin-off application released! If you have an idea about a new sub application, let us know at the 
                a(href='/talk', target="_blank") TALK section
                | !
            
        
        //- CODE
        .section: .container-sm
            article.post-card(role='article', itemscope='itemscope', itemtype='http://schema.org/BlogPosting')
                a.post-image.talkk(href='/talk/thread/mistakes-and-errors')
                    img.img-responsive(src='/images/app-castles.png', alt='Castles')
                .post-summary.talkk(style="width: 87%;")
                    .post-byline
                        .date-stamp
                            em 12 Apr 2016
                    h4.post-title.mv-1.talkk(itemprop='name')
                        a(href='http://app.chronas.org/castles/', itemprop='url', target="_blank") All Castles!
                    .post-content-brief(itemprop='description')
                        p This application lets you view all castles with Wikipedia articles in a <b>gallery</b> and <b>map</b> view! 
                        p The following languages are available: 
                        ul
                            li
                                a(href='http://app.chronas.org/castles?lng=en', itemprop='url', target="_blank") English 
                                | ~ 3800 castle articles
                            li
                                a(href='http://app.chronas.org/castles?lng=de', itemprop='url', target="_blank") German 
                                | ~ 5869 castle articles
                            li
                                a(href='http://app.chronas.org/castles?lng=fr', itemprop='url', target="_blank") French 
                                | ~ 3673 castle articles
                            li
                                a(href='http://app.chronas.org/castles?lng=es', itemprop='url', target="_blank") Spanish 
                                | ~ 1183 castle articles
                            li
                                a(href='http://app.chronas.org/castles?lng=ru', itemprop='url', target="_blank") Russian 
                                | ~ 911 castle articles
                            li
                                a(href='http://app.chronas.org/castles?lng=ja', itemprop='url', target="_blank") Japanese 
                                | ~ 159 castle articles
                            li
                                a(href='http://app.chronas.org/castles?lng=el', itemprop='url', target="_blank") Greek 
                                | ~ 87 castle articles
            
            article.post-card(role='article', itemscope='itemscope', itemtype='http://schema.org/BlogPosting')
                a.post-image.talkk(href='/talk/thread/mistakes-and-errors')
                    img.img-responsive(src='/images/app-battles.png', alt='Castles')
                .post-summary.talkk(style="width: 87%;")
                    .post-byline
                        .date-stamp
                            em 13 Apr 2016
                    h4.post-title.mv-1.talkk(itemprop='name')
                        a(href='http://app.chronas.org/battles/', itemprop='url', target="_blank") All Battles!
                    .post-content-brief(itemprop='description')
                        p Have there been any battles in your area? 
                        p View all historic battles with Wikipedia articles in a <b>gallery</b> and <b>map</b> view 
                        p ...and filter by year! 
                        p The following languages are available: 
                        ul
                            li
                                a(href='http://app.chronas.org/battles?lng=en', itemprop='url', target="_blank") English 
                                | ~ 3955 battle articles
                            li
                                a(href='http://app.chronas.org/battles?lng=de', itemprop='url', target="_blank") German 
                                | ~ 1477 battle articles
                            li
                                a(href='http://app.chronas.org/battles?lng=fr', itemprop='url', target="_blank") French 
                                | ~ 2860 battle articles
                            li
                                a(href='http://app.chronas.org/battles?lng=es', itemprop='url', target="_blank") Spanish 
                                | ~ 1605 battle articles
                            li
                                a(href='http://app.chronas.org/battles?lng=ru', itemprop='url', target="_blank") Russian 
                                | ~ 1673 battle articles
                            li
                                a(href='http://app.chronas.org/battles?lng=ja', itemprop='url', target="_blank") Japanese 
                                | ~ 1529 battle articles
                            li
                                a(href='http://app.chronas.org/battles?lng=el', itemprop='url', target="_blank") Greek 
                                | ~ 261 battle articles



block js
    // twitter
    script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
